body{
    font-family: 'Titillium Web', sans-serif;
}

h1{
    font-size: 4rem;
}

.page-header{
    color: $white;
    .nav-menu{
        font-size: 1.2rem;
        color: $white;
    }
}

.header-subpages{
    .nav-menu{
        color: black;
    }
}

.page-footer{
    color: $grey;
    h5{
        font-size: 1.3rem;
        color: $white;
    }
    a:hover{
        color: $white;
    }
}

.main-container{
    .page-title{
        .breadcrumbs{
            a{
                color: $rosa;
                &:hover{
                    color: black;
                }
            }
        }
    }
}

.index-hero{
    color: $white;
    p{
        font-size: 1.3rem;
    }
    .demo-txt{
        font-weight: 700;
    }
}

.blog-container{
    .blog-grid{
        .blog-card{
            .card-title{
                h2{
                    font-size: 1.3rem;
                    font-weight: 600;
                    &:hover{
                        color: $rosa;
                    }
                }
                .card-tags{
                    .tag{
                        color: $white;
                        font-weight: 600;
                        font-size: 0.9rem;
                    }
                    .date-tag{
                        font-size: .9rem;
                    }
                }
            }
            .card-footer{
                a{
                    &:hover{
                        color: $rosa;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .page-header{
        .nav-logo{
            color: black;
        }
    }
    .index-hero{
        color: black;
        .demo-txt{
            color: $rosa;
        }
    }
}
